
#join-btn {
    border-radius: 0.5rem; 
    transition: border-radius 0.3s ease-in-out;
}

#join-btn:hover {
    border-radius: 1rem;
}


#search-btn{
    border-radius: 0.5rem; 
    transition: border-radius 0.3s ease-in-out;
}
#search-btn{
    border-radius: 1rem; 
    
}

.bg-custom {
    
    background-size: cover;
    min-height: 100vh;
}
